@import '~@angular/material/theming';
@include mat-core();

$flow-white: #f4f1de;
$flow-orange: #e07a5f;
$flow-black: #3d405b;
$flow-mint: #81b29a;
$flow-stucko: #f2cc8f;

$flow-primary: (
    50 : #f0f6f3,
    100 : #d9e8e1,
    200 : #c0d9cd,
    300 : #a7c9b8,
    400 : #94bea9,
    500 : #81b29a,
    600 : #79ab92,
    700 : #6ea288,
    800 : #64997e,
    900 : #518a6c,
    A100 : #edfff6,
    A200 : #baffdb,
    A400 : #87ffc0,
    A700 : #6effb3,
    contrast: (
        50 : $flow-black,
        100 : $flow-black,
        200 : $flow-black,
        300 : $flow-black,
        400 : $flow-black,
        500 : $flow-black,
        600 : $flow-black,
        700 : $flow-black,
        800 : $flow-black,
        900 : $flow-white,
        A100 : $flow-black,
        A200 : $flow-black,
        A400 : $flow-black,
        A700 : $flow-black,
    )
);

$flow-accent: (
    50 : #fdf9f2,
    100 : #fbf0dd,
    200 : #f9e6c7,
    300 : #f6dbb1,
    400 : #f4d4a0,
    500 : #f2cc8f,
    600 : #f0c787,
    700 : #eec07c,
    800 : #ecb972,
    900 : #e8ad60,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff7ed,
    A700 : #ffecd4,
    contrast: (
        50 : $flow-black,
        100 : $flow-black,
        200 : $flow-black,
        300 : $flow-black,
        400 : $flow-black,
        500 : $flow-black,
        600 : $flow-black,
        700 : $flow-black,
        800 : $flow-black,
        900 : $flow-black,
        A100 : $flow-black,
        A200 : $flow-black,
        A400 : $flow-black,
        A700 : $flow-black,
    )
);

$flow-warn: (
    50 : #fbefec,
    100 : #f6d7cf,
    200 : #f0bdaf,
    300 : #e9a28f,
    400 : #e58e77,
    500 : #e07a5f,
    600 : #dc7257,
    700 : #d8674d,
    800 : #d35d43,
    900 : #cb4a32,
    A100 : #ffffff,
    A200 : #ffe3de,
    A400 : #ffb7ab,
    A700 : #ffa191,
    contrast: (
        50 : $flow-black,
        100 : $flow-black,
        200 : $flow-black,
        300 : $flow-black,
        400 : $flow-black,
        500 : $flow-black,
        600 : $flow-black,
        700 : $flow-black,
        800 : $flow-white,
        900 : $flow-white,
        A100 : $flow-black,
        A200 : $flow-black,
        A400 : $flow-black,
        A700 : $flow-black,
    )
);

$primary: mat-palette($flow-primary);
$accent: mat-palette($flow-accent);
$warn: mat-palette($flow-warn);

$flow-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($flow-theme);

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
